.image-21-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  height: 1117px;
  object-fit: cover;
}
.logo-shape-child19,
.logo-shape-child20 {
  position: absolute;
  height: 53.33%;
  width: 100%;
  top: 46.67%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 12.01px 12.01px 0;
  background-color: var(--green);
}
.logo-shape-child20 {
  height: 40%;
  width: 69.57%;
  top: 0;
  right: 30.43%;
  bottom: 60%;
}
.logo-shape11 {
  position: absolute;
  height: 2.97%;
  width: 1.5%;
  top: 5.28%;
  right: 95.95%;
  bottom: 91.75%;
  left: 2.55%;
}
.about-us8,
.coupon-child {
  position: absolute;
  cursor: pointer;
}
.coupon-child {
  top: 49px;
  left: 1540px;
  border-radius: var(--br-8xl);
  width: 156px;
  height: 56px;
}
.about-us8 {
  top: 2px;
  left: 868px;
}
.equipment22,
.equipment23 {
  position: absolute;
  top: 2px;
  left: 738px;
}
.equipment23 {
  top: 0;
  left: 608px;
  cursor: pointer;
}
.account8 {
  position: absolute;
  top: 2px;
  left: 1514px;
  font-size: var(--font-size-mid);
  display: inline-block;
  color: #878787;
  width: 78px;
}
.icons-general-cart8 {
  position: absolute;
  top: 0;
  left: 1484px;
  width: 24px;
  height: 24px;
}
.betterworldnow9 {
  position: absolute;
  top: -6px;
  left: 0;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  display: inline-block;
  width: 456px;
}
.blog8,
.equipment24,
.logo8 {
  position: absolute;
  cursor: pointer;
}
.logo8 {
  top: 0;
  left: 0;
  width: 227px;
  height: 24px;
  overflow: hidden;
  font-size: var(--font-size-13xl);
  font-family: var(--font-port-lligat-sans);
}
.blog8 {
  top: 2px;
  left: 983px;
}
.equipment24 {
  top: 2px;
  left: 738px;
}
.header6 {
  position: absolute;
  top: 64px;
  left: 80px;
  width: 1648px;
  height: 25px;
  overflow: hidden;
  mix-blend-mode: difference;
  font-size: var(--font-size-lg);
}
.image-29-icon {
  position: absolute;
  top: 186px;
  left: 459px;
  border-radius: var(--br-xl);
  width: 328px;
  height: 93px;
  object-fit: cover;
}
.free-plant-from {
  position: absolute;
  top: 279px;
  left: 481px;
  text-decoration: underline;
  font-weight: 600;
  color: var(--color-black);
  display: inline-block;
  width: 277px;
  height: 31px;
}
.image-32-icon {
  position: absolute;
  top: 390px;
  left: 1007px;
  border-radius: var(--br-xl);
  width: 328px;
  height: 93px;
  object-fit: cover;
}
.on-nurserylive1 {
  text-decoration: underline;
}
.on-nurserylive {
  color: inherit;
}
.free-plant-from-container,
.free-plant-from3,
.of-on-nurserylive-container {
  position: absolute;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  height: 32px;
}
.of-on-nurserylive-container {
  top: 483px;
  left: 1033px;
  width: 226px;
}
.free-plant-from-container {
  top: 489px;
  left: 491px;
  width: 224px;
}
.free-plant-from3 {
  top: 703px;
  left: 488px;
  text-decoration: underline;
  width: 262px;
}
.image-30-icon {
  position: absolute;
  top: 186px;
  left: 990px;
  border-radius: var(--br-xl);
  width: 328px;
  height: 93px;
  object-fit: cover;
}
.discount-on-plants {
  position: absolute;
  top: 284px;
  left: 1009px;
  text-decoration: underline;
  font-weight: 600;
  color: var(--color-black);
  display: inline-block;
  width: 326px;
  height: 32px;
}
.image-31-icon,
.image-33-icon {
  position: absolute;
  top: 385px;
  left: 455px;
  border-radius: var(--br-xl);
  width: 328px;
  height: 93px;
  object-fit: cover;
}
.image-33-icon {
  top: 595px;
}
.coupon {
  position: relative;
  background-color: var(--color-darkolivegreen);
  width: 1728px;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--wei);
  font-family: var(--font-advent-pro);
}
