.image-23-icon8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  height: 1117px;
  object-fit: cover;
}
.desktop-12-child {
  position: absolute;
  top: 773.99px;
  left: 0;
  width: 416.61px;
  height: 156.01px;
}
.logo-shape-child10,
.logo-shape-child9 {
  position: absolute;
  left: 0;
  border-radius: 0 12.01px 12.01px 0;
  background-color: var(--green);
}
.logo-shape-child9 {
  height: 53.33%;
  width: 100%;
  top: 46.67%;
  right: 0;
  bottom: 0;
}
.logo-shape-child10 {
  height: 40%;
  width: 69.57%;
  top: 0;
  right: 30.43%;
  bottom: 60%;
}
.logo-shape6 {
  position: absolute;
  height: 3.56%;
  width: 1.5%;
  top: 4.92%;
  right: 95.95%;
  bottom: 91.51%;
  left: 2.55%;
}
.desktop-12-item {
  position: absolute;
  top: 66px;
  left: 682px;
  border-radius: var(--br-8xl);
  width: 83px;
  height: 22px;
}
.about-us3,
.equipment9 {
  position: absolute;
  top: 2px;
}
.about-us3 {
  left: 868px;
  cursor: pointer;
}
.equipment9 {
  left: 738px;
}
.account3,
.equipment10 {
  position: absolute;
}
.equipment10 {
  top: 0;
  left: 608px;
}
.account3 {
  top: 2px;
  left: 1514px;
  font-size: var(--font-size-mid);
  display: inline-block;
  width: 78px;
  cursor: pointer;
}
.icons-general-cart3 {
  position: absolute;
  top: 0;
  left: 1484px;
  width: 24px;
  height: 24px;
}
.betterworldnow4 {
  position: absolute;
  top: -6px;
  left: 0;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  display: inline-block;
  width: 456px;
}
.blog3,
.equipment11,
.logo3 {
  position: absolute;
  cursor: pointer;
}
.logo3 {
  top: 0;
  left: 0;
  width: 227px;
  height: 24px;
  overflow: hidden;
  font-size: var(--font-size-13xl);
  font-family: var(--font-port-lligat-sans);
}
.blog3 {
  top: 2px;
  left: 983px;
}
.equipment11 {
  top: 2px;
  left: 738px;
}
.header3 {
  position: absolute;
  top: 64px;
  left: 80px;
  width: 1648px;
  height: 25px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
}
.image-25-icon2,
.image-26-icon {
  position: absolute;
  top: 178px;
  left: 955px;
  width: 308px;
  height: 231px;
  object-fit: cover;
  cursor: pointer;
  border-radius: var(--br-xl);
}
.image-26-icon {
  left: 464px;
}
.book-open-alt-light-icon {
  position: absolute;
  top: 260px;
  left: 500px;
  width: 50px;
  height: 50px;
}
.learn-facts,
.take-a-quiz {
  position: absolute;
  top: 319px;
  line-height: 85.6%;
  font-weight: 600;
  display: inline-block;
  width: 229px;
  height: 53px;
}
.take-a-quiz {
  left: 503px;
  text-align: left;
}
.learn-facts {
  left: 994px;
}
.image-27-icon {
  position: absolute;
  top: 484px;
  left: 955px;
  width: 308px;
  height: 231px;
  object-fit: cover;
  cursor: pointer;
  border-radius: var(--br-xl);
}
.order-light-icon,
.read-article {
  position: absolute;
  top: 565px;
  left: 985px;
  width: 50px;
  height: 50px;
}
.read-article {
  top: 623px;
  left: 973px;
  text-decoration: underline;
  line-height: 85.6%;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  width: 269px;
  height: 53px;
}
.image-28-icon {
  position: absolute;
  top: 484px;
  left: 464px;
  width: 308px;
  height: 231px;
  object-fit: cover;
  border-radius: var(--br-xl);
}
.watch-video {
  position: absolute;
  top: 623px;
  left: 483px;
  text-decoration: underline;
  line-height: 85.6%;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  width: 269px;
  height: 53px;
}
.search-light-icon,
.video-light-icon {
  position: absolute;
  top: 250px;
  left: 995px;
  width: 50px;
  height: 50px;
}
.video-light-icon {
  top: 565px;
  left: 483px;
}
.desktop-12 {
  position: relative;
  background-color: var(--wei);
  width: 1728px;
  height: 930px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--wei);
  font-family: var(--font-advent-pro);
}
