.image-17-icon,
.solid-white-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  height: 1117px;
  object-fit: cover;
}
.solid-white-1-icon {
  width: 2048px;
  height: 2048px;
}
.login1 {
  position: absolute;
  top: 463px;
  left: 814px;
}
.solid-color-image-1-icon,
.tree-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1983px;
  height: 1117px;
  object-fit: cover;
}
.tree-1-icon {
  top: 66px;
  left: 441px;
  width: 884px;
  height: 884px;
}
.betterworldnow {
  position: absolute;
  height: 3.4%;
  width: 37.09%;
  top: 7.97%;
  left: 33.97%;
  font-size: 80px;
  line-height: 33.64px;
  display: flex;
  font-family: var(--font-manrope);
  color: #0e2c0d;
  align-items: center;
  opacity: 0.7;
}
.logo-shape-child,
.logo-shape-item {
  position: absolute;
  height: 53.33%;
  width: 100%;
  top: 46.67%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 12.01px 12.01px 0;
  background-color: var(--green);
}
.logo-shape-item {
  height: 40%;
  width: 69.57%;
  top: 0;
  right: 30.43%;
  bottom: 60%;
}
.logo-shape {
  position: absolute;
  height: 4.86%;
  width: 3.47%;
  top: 7.61%;
  right: 67.59%;
  bottom: 87.53%;
  left: 28.94%;
}
.login {
  position: relative;
  background-color: var(--color-darkolivegreen);
  width: 1728px;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: 40px;
  color: var(--color-darkolivegreen);
  font-family: var(--font-advent-pro);
}
