.image-17-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  height: 1117px;
  object-fit: cover;
}
.login-child,
.login-item {
  position: absolute;
  left: 604px;
  width: 520px;
  height: 77px;
  border-radius: var(--br-xl);
  box-shadow: var(--shadow-elevated);
}
.login-child {
  top: 449px;
  background-color: var(--color-aquamarine-100);
  cursor: pointer;
}
.login-item {
  top: 198px;
  background-color: var(--color-aquamarine-200);
}
.login1 {
  position: absolute;
  top: 463px;
  left: 814px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-advent-pro);
}
.login-inner {
  position: absolute;
  top: 544px;
  left: 604px;
  background-color: var(--color-gray-200);
  width: 520px;
  height: 77px;
  border-radius: var(--br-xl);
  box-shadow: var(--shadow-elevated);
}
.login-with-google1 {
  position: absolute;
  top: 558px;
  left: 699px;
  font-size: var(--font-size-21xl);
  display: inline-block;
  font-family: var(--font-advent-pro);
  width: 330px;
  height: 48px;
  cursor: pointer;
}
.betterworldnow11 {
  position: absolute;
  height: 3.76%;
  width: 20.14%;
  top: 7.43%;
  left: 40.97%;
  font-size: 43.25px;
  line-height: 33.64px;
  display: flex;
  color: var(--wei);
  align-items: center;
  opacity: 0.7;
  cursor: pointer;
}
.usernamee-mail-id {
  position: absolute;
  top: 200px;
  left: 604px;
  line-height: 72px;
  font-size: 25px;
  font-family: var(--font-port-lligat-sans);
  width:516px;
  color: #fff;
  background-color: var(--color-aquamarine-200);
  border: none;
  border-radius: var(--br-xl);
  box-shadow: var(--shadow-elevated);
}
.login-child1 {
  position: absolute;
  top: 295px;
  left: 604px;
  background-color: var(--color-aquamarine-200);
  width: 520px;
  height: 77px;
  border-radius: var(--br-xl);
  box-shadow: var(--shadow-elevated);
}
.create-account,
.password1 {
  position: absolute;
  line-height: 33.64px;
}
.password1 {
  top: 296px;
  left: 605px;
  line-height: 72px;
  font-size: 25px;
  font-family: var(--font-port-lligat-sans);
  width:516px;
  color: #fff;
  background-color: var(--color-aquamarine-200);
  border: none;
  border-radius: var(--br-xl);
  box-shadow: var(--shadow-elevated);
}

.usernamee-mail-id::placeholder, .password1::placeholder {
  color: rgb(190, 190, 190);
}

.create-account {
  top: 662px;
  left: 739px;
  text-decoration: underline;
  color: var(--color-gray-200);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.72);
  cursor: pointer;
}
.logo-shape-child23,
.logo-shape-child24 {
  position: absolute;
  height: 53.33%;
  width: 100%;
  top: 46.67%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 12.01px 12.01px 0;
  background-color: var(--green);
}
.logo-shape-child24 {
  height: 40%;
  width: 69.57%;
  top: 0;
  right: 30.43%;
  bottom: 60%;
}
.logo-shape13 {
  position: absolute;
  height: 2.86%;
  width: 1.5%;
  top: 7.97%;
  right: 59.55%;
  bottom: 89.18%;
  left: 38.95%;
}
.login {
  position: relative;
  background-color: var(--color-darkolivegreen);
  width: 1728px;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-darkolivegreen);
  font-family: var(--font-manrope);
}