.plantgrow-1-icon {
  position: absolute;
  top: 0;
  left: 698px;
  width: 1234px;
  height: 854px;
  object-fit: cover;
  border-radius: var(--br-11xl);
  box-shadow: var(--shadow-elevated);
}
.progress2-child {
  position: absolute;
  top: -103px;
  left: 1136px;
  background-color: var(--color-beige);
  width: 358px;
  height: 383px;
  border-radius: var(--br-11xl);
  box-shadow: var(--shadow-elevated);
}
.your {
  margin: 0;
}
.your-current-growth-container {
  position: absolute;
  top: 145px;
  left: 203px;
  font-size: 170.25px;
  display: inline-block;
  color: var(--color-darkolivegreen);
  width: 661px;
  height: 599px;
}
.logo-shape-child15,
.logo-shape-child16 {
  position: absolute;
  height: 53.33%;
  width: 100%;
  top: 46.67%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 12.01px 12.01px 0;
  background-color: var(--color-mediumspringgreen);
}
.logo-shape-child16 {
  height: 40%;
  width: 69.57%;
  top: 0;
  right: 30.43%;
  bottom: 60%;
}
.logo-shape9 {
  position: absolute;
  height: 2.97%;
  width: 1.5%;
  top: 5.01%;
  right: 95.61%;
  bottom: 92.02%;
  left: 2.89%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.about-us6 {
  top: 63px;
  left: 954px;
  cursor: pointer;
}
.about-us6,
.account6,
.equipment18 {
  position: absolute;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.equipment18 {
  top: 61px;
  left: 694px;
  cursor: pointer;
}
.account6 {
  top: 63px;
  left: 1600px;
  font-size: var(--font-size-mid);
  display: inline-block;
  width: 78px;
}
.icons-general-cart6 {
  position: absolute;
  top: 61px;
  left: 1566px;
  width: 32px;
  height: 32px;
}
.betterworldnow7 {
  position: absolute;
  top: -6px;
  left: 0;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  display: inline-block;
  width: 456px;
}
.blog6,
.equipment19,
.logo6 {
  position: absolute;
  cursor: pointer;
}
.logo6 {
  top: 61px;
  left: 86px;
  background-color: var(--color-beige);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 227px;
  height: 24px;
  overflow: hidden;
  font-size: var(--font-size-13xl);
  color: var(--dark-blue);
  font-family: var(--font-port-lligat-sans);
  border-radius: var(--br-xs);
}
.blog6,
.equipment19 {
  top: 63px;
  left: 1069px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.equipment19 {
  left: 824px;
}
.progress2 {
  position: relative;
  background-color: var(--color-beige);
  width: 1728px;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
  font-family: var(--font-advent-pro);
}
