.plantgrow-1-icon1 {
  position: absolute;
  top: 141px;
  left: 794px;
  width: 1068px;
  height: 746px;
  object-fit: cover;
  cursor: pointer;
  border-radius: var(--br-11xl);
  box-shadow: var(--shadow-elevated);
}
.progress-child {
  position: absolute;
  top: 402px;
  left: 216px;
  border-radius: 36.56px;
  background-color: var(--color-darkolivegreen);
  width: 652px;
  height: 224px;
  cursor: pointer;
}
.track-your {
  margin: 0;
}
.track-your-trees-container {
  position: absolute;
  top: 445px;
  left: 261px;
  font-size: 58.49px;
  display: inline-block;
  color: var(--green);
  width: 423px;
  height: 141px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 133.34px;
  height: 133.34px;
}
.sapling-with-leaves-svgrepo-co-icon {
  position: absolute;
  top: 20.44px;
  left: 20.44px;
  width: 92.46px;
  height: 92.46px;
  object-fit: cover;
}
.ellipse-parent {
  position: absolute;
  top: 449.18px;
  left: 706.88px;
  width: 133.34px;
  height: 133.34px;
}
.logo-shape-child17,
.logo-shape-child18 {
  position: absolute;
  height: 53.33%;
  width: 100%;
  top: 46.67%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 12.01px 12.01px 0;
  background-color: var(--color-mediumspringgreen);
}
.logo-shape-child18 {
  height: 40%;
  width: 69.57%;
  top: 0;
  right: 30.43%;
  bottom: 60%;
}
.logo-shape10 {
  position: absolute;
  height: 2.97%;
  width: 1.5%;
  top: 4.74%;
  right: 95.61%;
  bottom: 92.29%;
  left: 2.89%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.about-us7 {
  top: 60px;
  left: 954px;
  cursor: pointer;
}
.about-us7,
.account7,
.equipment20 {
  position: absolute;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.equipment20 {
  top: 58px;
  left: 694px;
  cursor: pointer;
}
.account7 {
  top: 60px;
  left: 1600px;
  font-size: var(--font-size-mid);
  display: inline-block;
  width: 78px;
}
.icons-general-cart7 {
  position: absolute;
  top: 58px;
  left: 1566px;
  width: 32px;
  height: 32px;
}
.betterworldnow8 {
  position: absolute;
  top: -6px;
  left: 0;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  display: inline-block;
  width: 456px;
}
.blog7,
.equipment21,
.logo7 {
  position: absolute;
  cursor: pointer;
}
.logo7 {
  top: 58px;
  left: 86px;
  background-color: var(--color-beige);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 227px;
  height: 24px;
  overflow: hidden;
  font-size: var(--font-size-13xl);
  color: var(--dark-blue);
  font-family: var(--font-port-lligat-sans);
  border-radius: var(--br-xs);
}
.blog7,
.equipment21 {
  top: 60px;
  left: 1069px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.equipment21 {
  left: 824px;
}
.progress {
  position: relative;
  background-color: var(--color-beige);
  width: 1728px;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
  font-family: var(--font-advent-pro);
}
