.image-23-icon7 {
  top: 0;
  width: 1728px;
  height: 1117px;
  object-fit: cover;
}
.image-23-icon7,
.quiz2-child,
.vector-4-stroke3 {
  position: absolute;
  left: 0;
}
.vector-4-stroke3 {
  top: 773.99px;
  width: 416.61px;
  height: 343.01px;
}
.quiz2-child {
  top: 273px;
  width: 1728px;
  height: 175px;
}
.wet-and-biodegradable,
.which-colours-in {
  position: absolute;
  left: 80px;
  line-height: 140%;
  font-family: var(--font-port-lligat-sans);
  display: inline-block;
  width: 1614px;
  height: 78px;
}
.which-colours-in {
  top: 308px;
  font-size: var(--font-size-31xl);
}
.wet-and-biodegradable {
  top: 370px;
  font-size: var(--font-size-13xl);
}
.state-icon15 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 23.99px;
  flex-shrink: 0;
}
.step23,
.stepper5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.step23 {
  flex: 1;
  flex-direction: column;
}
.stepper5 {
  position: absolute;
  top: 176px;
  left: 592px;
  width: 480px;
  flex-direction: row;
}
.frame-child9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 634px;
  height: 85px;
}


.a3,
.red-2- {
  position: absolute;
  line-height: 140%;
}
.a3 {
  top: 25px;
  left: 19px;
  font-weight: 500;
}
.red-2- {
  top: 20px;
  left: 67px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-port-lligat-sans);
  display: inline-block;
  width: 1614px;
  height: 78px;
}
.vector-parent10 {
  top: 495px;
}
.vector-parent10,
.vector-parent11,
.vector-parent12,
.vector-parent9 {
  position: absolute;
  width: 634px;
  height: 85px;
  overflow: hidden;
  transition: scale .5s;
  cursor: pointer;
}
.vector-parent9 {
  top: 495px;
  left: 184px;
}
.vector-parent10 {
  left: 908px;
}
.vector-parent10:hover,
.vector-parent11:hover,
.vector-parent12:hover,
.vector-parent9:hover {
  scale: 1.03;
}
.vector-parent11 {
  top: 618px;
  left: 186px;
}
.vector-parent12 {
  top: 618px;
  left: 910px;
}

/*  */
.vector-parent9:hover,.vector-parent10:hover,.vector-parent11:hover,.vector-parent12:hover{
  transform: scale(1.05);
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 100px 0px #fff;
  -moz-box-shadow: 0px 0px 100px 0px #fff;
  box-shadow: 0px 0px 100px 0px #fff;
}
/*  */

.button-start-solving-child7,
.next-icon3 {
  position: relative;
  flex-shrink: 0;
}
.next-icon3 {
  width: 42.81px;
  height: 17.83px;
}
.button-start-solving-child7 {
  width: 15px;
  height: 17.32px;
}
.button-start-solving10 {
  position: absolute;
  top: 835px;
  left: 1210px;
  background: linear-gradient(95.34deg, #1bc47d, #1bc47d);
  box-shadow: 0 5.850289344787598px 23.4px -7.02px #4fe9a4;
  width: 191px;
  height: 77px;
  display: flex;
  flex-direction: row;
  padding: 8.190404891967773px 15.210752487182617px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 5.85px;
  cursor: pointer;
}
.button-start-solving-child8,
.previous-icon3 {
  position: relative;
  width: 15px;
  height: 14.72px;
  flex-shrink: 0;
}
.previous-icon3 {
  width: 79.34px;
  height: 18.13px;
}
.button-start-solving11 {
  position: absolute;
  top: 835px;
  left: 270px;
  background: linear-gradient(95.34deg, #1bc47d, #1bc47d);
  box-shadow: 0 5.850289344787598px 23.4px -7.02px #d1d1d1;
  width: 220px;
  height: 77px;
  display: flex;
  flex-direction: row;
  padding: 8.190404891967773px 15.210752487182617px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 5.85px;
  cursor: pointer;
}
.logo-shape-icon3 {
  position: absolute;
  height: 3.56%;
  width: 1.5%;
  top: 4.92%;
  right: 95.95%;
  bottom: 91.51%;
  left: 2.55%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.header-icon3,
.quiz2-item {
  position: absolute;
}
.quiz2-item {
  top: 66px;
  left: 682px;
  width: 83px;
  height: 22px;
}
.header-icon3 {
  top: 64px;
  left: 80px;
  width: 1648px;
  height: 25px;
  overflow: hidden;
}
.quiz2 {
  position: relative;
  background-color: var(--wei);
  width: 1728px;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--wei);
  font-family: var(--font-advent-pro);
}