.image-23-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  height: 1117px;
  object-fit: cover;
}
.vector-4-stroke {
  position: absolute;
  top: 773.99px;
  left: 0;
  width: 416.61px;
  height: 343.01px;
}
.quiz5-child,
.which-of-the {
  position: absolute;
  top: 273px;
  left: 0;
  width: 1728px;
  height: 175px;
}
.which-of-the {
  top: 321px;
  left: 146px;
  font-size: var(--font-size-31xl);
  line-height: 140%;
  font-family: var(--font-port-lligat-sans);
  display: inline-block;
  width: 1614px;
  height: 78px;
}
.state-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 23.99px;
  flex-shrink: 0;
}
.step8,
.stepper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.step8 {
  flex: 1;
  flex-direction: column;
}
.stepper2 {
  position: absolute;
  top: 176px;
  left: 592px;
  width: 480px;
  flex-direction: row;
}
.frame-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 634px;
  height: 85px;
}
.a,
.depletion-of-ground {
  position: absolute;
  line-height: 140%;
}
.a {
  top: 25px;
  left: 19px;
  font-weight: 500;
}
.depletion-of-ground {
  top: 20px;
  left: 67px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-port-lligat-sans);
  display: inline-block;
  width: 1614px;
  height: 78px;
}
.frame-div,
.vector-container,
.vector-group,
.vector-parent {
  position: absolute;
  width: 634px;
  height: 85px;
  overflow: hidden;
  cursor: pointer;
}
.vector-group,
.vector-parent {
  top: 495px;
}
.vector-parent {
  left: 184px;
}
.vector-group {
  left: 908px;
}
.frame-div {
  top: 618px;
}
.vector-container {
  top: 618px;
  left: 186px;
}
.frame-div {
  left: 910px;
}

/*  */
.frame-div:hover,
.vector-container:hover,
.vector-group:hover,
.vector-parent:hover {
  transform: scale(1.05);
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 100px 0px #fff;
  -moz-box-shadow: 0px 0px 100px 0px #fff;
  box-shadow: 0px 0px 100px 0px #fff;
}
/*  */
.button-start-solving-child1,
.next-icon {
  position: relative;
  flex-shrink: 0;
}
.next-icon {
  width: 42.81px;
  height: 17.83px;
}
.button-start-solving-child1 {
  width: 15px;
  height: 17.32px;
}
.button-start-solving4 {
  position: absolute;
  top: 835px;
  left: 1210px;
  background: linear-gradient(95.34deg, #8ab1a1, #8ab1a1);
  box-shadow: 0 5.850289344787598px 23.4px -7.02px #8ab1a1;
  width: 191px;
  height: 77px;
  display: flex;
  flex-direction: row;
  padding: 8.190404891967773px 15.210752487182617px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 5.85px;
  cursor: pointer;
}
.button-start-solving-child2,
.previous-icon {
  position: relative;
  width: 15px;
  height: 14.72px;
  flex-shrink: 0;
}
.previous-icon {
  width: 79.34px;
  height: 18.13px;
}
.button-start-solving5 {
  position: absolute;
  top: 835px;
  left: 270px;
  background: linear-gradient(95.34deg, #1bc47d, #1bc47d);
  box-shadow: 0 5.850289344787598px 23.4px -7.02px #d1d1d1;
  width: 220px;
  height: 77px;
  display: flex;
  flex-direction: row;
  padding: 8.190404891967773px 15.210752487182617px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 5.85px;
  cursor: pointer;
}
.logo-shape-icon {
  height: 3.56%;
  width: 1.5%;
  top: 4.92%;
  right: 95.95%;
  bottom: 91.51%;
  left: 2.55%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.header-icon,
.logo-shape-icon,
.quiz5-item {
  position: absolute;
}
.quiz5-item {
  top: 66px;
  left: 682px;
  width: 83px;
  height: 22px;
}
.header-icon {
  top: 64px;
  left: 80px;
  width: 1648px;
  height: 25px;
  overflow: hidden;
}
.quiz5 {
  position: relative;
  background-color: var(--wei);
  width: 1728px;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--wei);
  font-family: var(--font-advent-pro);
}