.image-23-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  height: 1117px;
  object-fit: cover;
}
.vector-4-stroke1 {
  position: absolute;
  top: 773.99px;
  left: 0;
  width: 416.61px;
  height: 343.01px;
}
.in-which-of,
.quiz4-child {
  position: absolute;
}
.quiz4-child {
  top: 273px;
  left: 0;
  width: 1728px;
  height: 175px;
}
.in-which-of {
  top: 321px;
  left: 80px;
  font-size: var(--font-size-31xl);
  line-height: 140%;
  font-family: var(--font-port-lligat-sans);
  display: inline-block;
  width: 1614px;
  height: 78px;
}
.state-icon5 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 23.99px;
  flex-shrink: 0;
}
.step13,
.stepper3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.step13 {
  flex: 1;
  flex-direction: column;
}
.stepper3 {
  position: absolute;
  top: 176px;
  left: 592px;
  width: 480px;
  flex-direction: row;
}
.frame-child1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 634px;
  height: 85px;
}
.a1,
.purify-oxygenate-air {
  position: absolute;
  line-height: 140%;
}
.a1 {
  top: 25px;
  left: 19px;
  font-weight: 500;
}
.purify-oxygenate-air {
  top: 20px;
  left: 67px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-port-lligat-sans);
  display: inline-block;
  width: 1614px;
  height: 78px;
}
.vector-parent1 {
  position: absolute;
  top: 495px;
  left: 184px;
  width: 634px;
  height: 85px;
  overflow: hidden;
  cursor: pointer;
}
.provide-housing-to {
  position: absolute;
  top: 20px;
  left: 67px;
  font-size: var(--font-size-13xl);
  line-height: 140%;
  font-family: var(--font-port-lligat-sans);
  display: inline-block;
  width: 1614px;
  height: 78px;
}
.vector-parent2 {
  top: 495px;
  left: 908px;
}
.vector-parent2,
.vector-parent3,
.vector-parent4 {
  position: absolute;
  width: 634px;
  height: 85px;
  overflow: hidden;
  cursor: pointer;
}
.vector-parent3 {
  top: 618px;
  left: 186px;
}
.vector-parent4 {
  top: 618px;
  left: 910px;
}

/*  */
.vector-parent1:hover,.vector-parent2:hover,.vector-parent3:hover,.vector-parent4:hover{
  transform: scale(1.05);
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 100px 0px #fff;
  -moz-box-shadow: 0px 0px 100px 0px #fff;
  box-shadow: 0px 0px 100px 0px #fff;
}
/*  */

.button-start-solving-child3,
.next-icon1 {
  position: relative;
  flex-shrink: 0;
}
.next-icon1 {
  width: 42.81px;
  height: 17.83px;
}
.button-start-solving-child3 {
  width: 15px;
  height: 17.32px;
}
.button-start-solving6 {
  position: absolute;
  top: 835px;
  left: 1210px;
  background: linear-gradient(95.34deg, #1bc47d, #1bc47d);
  box-shadow: 0 5.850289344787598px 23.4px -7.02px #4fe9a4;
  width: 191px;
  height: 77px;
  display: flex;
  flex-direction: row;
  padding: 8.190404891967773px 15.210752487182617px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 5.85px;
  cursor: pointer;
}
.button-start-solving-child4,
.previous-icon1 {
  position: relative;
  width: 15px;
  height: 14.72px;
  flex-shrink: 0;
}
.previous-icon1 {
  width: 79.34px;
  height: 18.13px;
}
.button-start-solving7 {
  position: absolute;
  top: 835px;
  left: 270px;
  background: linear-gradient(95.34deg, #1bc47d, #1bc47d);
  box-shadow: 0 5.850289344787598px 23.4px -7.02px #d1d1d1;
  width: 220px;
  height: 77px;
  display: flex;
  flex-direction: row;
  padding: 8.190404891967773px 15.210752487182617px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 5.85px;
  cursor: pointer;
}
.logo-shape-icon1 {
  position: absolute;
  height: 3.56%;
  width: 1.5%;
  top: 4.92%;
  right: 95.95%;
  bottom: 91.51%;
  left: 2.55%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.header-icon1,
.quiz4-item {
  position: absolute;
}
.quiz4-item {
  top: 66px;
  left: 682px;
  width: 83px;
  height: 22px;
}
.header-icon1 {
  top: 64px;
  left: 80px;
  width: 1648px;
  height: 25px;
  overflow: hidden;
}
.quiz4 {
  position: relative;
  background-color: var(--wei);
  width: 1728px;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--wei);
  font-family: var(--font-advent-pro);
}