.bg-hero-icon,
.sappling-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  cursor: pointer;
}
.sappling-1-icon {
  height: 1206px;
  object-fit: cover;
}
.bg-hero-icon {
  height: 1062px;
}
.welcome-child,
.welcome-item {
  position: absolute;
  top: 588px;
  left: 1251px;
  border-radius: var(--br-11xl);
  background-color: var(--green);
  width: 369px;
  height: 77px;
}
.welcome-item {
  top: 592px;
  left: 108px;
  width: 424px;
}
.continue-your-journey {
  position: absolute;
  top: 602px;
  left: 1267px;
  display: inline-block;
  width: 347px;
  height: 48px;
  cursor: pointer;
}
.empowering-change-makers {
  position: absolute;
  top: 0;
  left: 104px;
  letter-spacing: 6px;
  text-transform: uppercase;
}
.group-item {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: var(--accent);
  width: 72px;
  height: 2px;
}
.empowering-change-makers-parent {
  position: relative;
  width: 469px;
  height: 22px;
  flex-shrink: 0;
  color: var(--accent);
}
.congratulations {
  position: relative;
  font-size: var(--font-size-69xl);
  line-height: 100px;
  text-transform: capitalize;
  font-family: var(--font-port-lligat-sans);
  display: inline-block;
  width: 950px;
}
.equipment28 {
  position: absolute;
  top: 0;
  left: 0;
}
.equipment-wrapper {
  position: relative;
  width: 726px;
  height: 32px;
  flex-shrink: 0;
  font-size: 27px;
}
.content {
  position: absolute;
  top: 328px;
  left: 108px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--font-size-lg);
  color: var(--wei);
}
.see-where-is {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-decoration: underline;
  color: inherit;
  display: inline-block;
  -webkit-text-stroke: 1px #000;
}
.see-where-is-your-plant {
  position: absolute;
  top: 605px;
  left: 129px;
  width: 613px;
  height: 71px;
}
.welcome {
  position: relative;
  background-color: var(--wei);
  width: 1728px;
  height: 1105px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-advent-pro);
}
